page-login {

}

.signup-background {
    background-image: url('../images/bgd5@2x.png');
}

.lbls{
	font-size: 18px;
}

.boton{
	font-size: 24px;
	width: 79px;
	height: 79px;
	background: url('../../assets/img/icono_facebook.png');
	
}
